---
import BlogCard from "../../components/BlogCard.astro";
import BlogSelect from "../../components/BlogSelect.astro";
import ProductHero from "../../components/ProductHero.astro";
import Layout from "../../layouts/Layout.astro";
import type { Frontmatter } from "../../types/blogArticles";

const blogCategories = [
  {
    value: "all",
    label: "Todas las categorías",
  },
  {
    value: "recipe",
    label: "Recetas",
  },
  /*  {
    value: "news",
    label: "Noticias",
  }, */
  {
    value: "tips",
    label: "Consejos",
  },
];
const posts = await Astro.glob<Frontmatter>("./posts/*.md");

const pageTitle = "Blog - Bohemian - Coffee & Breads";
---

<Layout title={pageTitle}>
  <ProductHero title="Blog" imgSrc="/img/blog-hero.webp" />
  <section class="bg-white p-4 min-h-[800px]">
    <BlogSelect>
      {
        blogCategories.map((category) => (
          <option value={category.value}>{category.label}</option>
        ))
      }
    </BlogSelect>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:md:grid-cols-3 gap-4 p-4"
    >
      {
        posts.map((post) => (
          <BlogCard url={post.url} frontmatter={post.frontmatter} />
        ))
      }
    </div>
  </section>
</Layout>

<script>
  import { handleOnSelectChange } from "../../scripts/blogFilters.ts";

  handleOnSelectChange();

  document.addEventListener("astro:after-swap", () => {
    handleOnSelectChange();
  });
</script>
