---
import { Icon } from "astro-icon/components";

interface Props {
  url: string | undefined;
  frontmatter: {
    title: string;
    short_description: string;
    author: string;
    date: string;
    category: string;
  };
}

const { url, frontmatter } = Astro.props;
---

<a
  href={url || "#"}
  class="bg-secondary-500 p-4 rounded-md space-y-2 border-2 border-gray-400 hover:scale-105 transition-transform duration-300 ease-in-out relative"
  id="blog-cards"
  data-category={frontmatter.category}
>
  <h3
    class="text-lg md:text-xl text-pretty font-oswald text-center xl:text-2xl"
  >
    {frontmatter.title}
  </h3>
  <p
    class="text-sm md:text-base xl:text-lg font-oswald text-pretty text-gray-300"
  >
    {frontmatter.short_description}
  </p>
  <p class="text-xs md:text-xs italic text-gray-400">
    Publicado por {frontmatter.author}
  </p>
  <p class="text-xs md:text-xs italic text-gray-400">
    Fecha de publicación: {frontmatter.date}
  </p>
  <Icon
    name={`blog/${frontmatter.category}`}
    class:list={[
      "absolute top-0 right-2 size-6",
      {
        "text-orange-500": frontmatter.category === "recipe",
        "text-blue-500": frontmatter.category === "news",
        "text-yellow-500": frontmatter.category === "tips",
      },
    ]}
  />
</a>
