---
import { formatPrice } from "../utils/formatPrice.ts";

interface Props {
  imgSrc: string;
  title: string;
  productName: string;
  price: number;
}

const { imgSrc, title, productName, price } = Astro.props;
---

<style>
  .card > * {
    transition: all 0.3s;
  }

  .card:hover > * {
    transform: translateY(-20px);
  }
</style>

<a
  href={`/products/${productName}`}
  class="card relative place-content-center h-[350px] md:h-[450px] border-r flex flex-col gap-12 hover:bg-secondary-600 transition-colors duration-300 ease-in-out group flex-1 basis-44 md:basis-48 lg:basis-52 xl:basis-56 flex-shrink-0"
>
  <img
    src={imgSrc}
    alt={title}
    width="300px"
    height="350px"
    class="card-image w-28 h-20 sm:w-32 sm:h-24 md:w-36 md:h-28 lg:w-40 lg:h-32 mx-auto"
  />

  <h3
    class="text-secondary-600 text-sm md:text-base lg:text-lg text-pretty text-center font-oswald group-hover:text-secondary-500 group"
  >
    Desde
    {formatPrice(price)}
  </h3>
  <h3
    class="text-black text-base md:text-lg lg:text-xl text-pretty text-center font-oswald group-hover:text-white group font-medium"
  >
    {title}
  </h3>
</a>
