---
import Card from "./Card.astro";
import Divider from "./Divider.astro";

interface Props {
  currentProduct?: string;
}

const IMAGE_PATH = "/img";

const { currentProduct } = Astro.props;

const products = [
  {
    id: 1,
    productName: "Panes",
    imgSrc: `${IMAGE_PATH}/pan.png`,
    link: "/products/panes",
  },
  {
    id: 2,
    productName: "Yogures",
    imgSrc: `${IMAGE_PATH}/yogurt-griego.png`,
    link: "/products/yogures",
  },
  {
    id: 3,
    productName: "Budines",
    imgSrc: `${IMAGE_PATH}/budin.png`,
    link: "/products/budines",
  },
];
---

<section
  class="bg-secondary-500 min-h-72 flex flex-col items-center gap-y-4 p-4 pb-10"
>
  <h3 class="mt-5 uppercase text-lg md:text-xl lg:text-2xl xl:text-3xl">
    Nuestros productos 🔥
  </h3>
  <Divider dividerBackground="#c4c49a" />
  <div class="flex gap-4">
    {
      products
        .filter(
          (filteredProduct) => filteredProduct.productName !== currentProduct
        )
        .map((product) => (
          <a href={product.link}>
            <Card title={product.productName} imgSrc={product.imgSrc} />
          </a>
        ))
    }
  </div>
</section>
