---
interface Props {
  imgSrc: string;
  title: string;
  productName: string;
  price: number;
}

const { imgSrc, title, productName, price } = Astro.props;
---

<a
  href={`/products/${productName}`}
  class="relative place-content-center h-[350px] md:h-[450px] border flex flex-col group flex-1 basis-36 sm:basis-44 md:basis-48 lg:basis-52 xl:basis-56 flex-shrink-0 rounded-md"
>
  <div
    class="bg-secondary-500 h-full absolute w-[100%] -z-0 group-hover:rotate-2 transition duration-300 ease-in-out rounded-md"
  >
  </div>
  <div
    class="z-10 bg-white h-full w-full rounded-md flex flex-col items-center justify-center gap-4"
  >
    <img
      src={imgSrc}
      alt={title}
      width="300px"
      height="350px"
      class="shadow-md shadow-black mx-auto w-[60%] sm:w-[70%] rounded-md h-[50%]"
    />
    <h3
      class="text-black text-lg md:text-xl lg:text-2xl text-pretty text-center font-oswald font-medium"
    >
      {title}
    </h3>
    <h3
      class="text-secondary-600 text-base md:text-lg lg:text-xl text-pretty text-center font-oswald font-bold"
    >
      ${price}
    </h3>
  </div>
</a>
