---
import ProductHero from "../../components/ProductHero.astro";
import productItems from "../../data/productItems";
import ProductCard from "../../components/ProductCard.astro";
import Layout from "../../layouts/Layout.astro";
const pageTitle = "Productos";
---

<Layout title={pageTitle}>
  <ProductHero
    title="Nuestros productos"
    imgSrc="https://images.unsplash.com/photo-1504469288085-feb62ad2903d"
  />
  <section class="space-y-8 p-4 min-h-screen bg-white">
    <article
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
    >
      {
        productItems.map((product) => (
          <ProductCard
            title={product.title}
            imgSrc={product.screenshots[0].src}
            productName={product.productName}
            price={product.price}
          />
        ))
      }
    </article>
  </section>
</Layout>
